:host {
  display: block;
  margin: 15px 0px; }

/*

CORE STYLES (ported over for demo)

*/
/*

CARD STYLES

*/
md-card {
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: white; }

md-card-title, md-card-subtitle {
  display: block;
  margin-bottom: 16px; }

md-card-title {
  font-size: 24px;
  font-weight: 400; }

md-card-subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54); }

md-card-content {
  display: block;
  font-size: 14px;
  margin-bottom: 16px; }

md-card-actions {
  display: block;
  margin: 16px -16px;
  padding: 8px 0; }

md-card-actions [md-button], md-card-actions [md-raised-button], md-card-actions button {
  margin: 0 4px; }

img[md-card-image] {
  width: calc(100% + 48px);
  margin: 0 -24px 16px -24px; }

img[md-card-xl-image] {
  width: 240px;
  height: 240px;
  margin: -8px; }

md-card-footer {
  position: absolute;
  bottom: 0; }

/* HEADER STYLES */
md-card-header {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: -8px 0 16px 0; }

.md-card-header-text {
  height: 40px;
  margin: 0 8px; }

img[md-card-avatar] {
  height: 40px;
  width: 40px;
  border-radius: 50%; }

md-card-header md-card-title {
  font-size: 14px; }

md-card-header md-card-subtitle:not(:first-child) {
  margin-top: -8px; }

/* TITLE-GROUP STYLES */
img[md-card-sm-image], img[md-card-md-image], img[md-card-lg-image] {
  margin: -8px 0; }

md-card-title-group {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px; }

img[md-card-sm-image] {
  width: 80px;
  height: 80px; }

img[md-card-md-image] {
  width: 112px;
  height: 112px; }

img[md-card-lg-image] {
  width: 152px;
  height: 152px; }

/* MEDIA QUERIES */
@media (max-width: 600px) {
  md-card {
    padding: 24px 16px; }
  img[md-card-image] {
    width: calc(100% + 32px);
    margin: 16px -16px; }
  md-card-title-group {
    margin: 0; }
  img[md-card-xl-image] {
    margin-left: 0;
    margin-right: 0; } }

/* FIRST/LAST CHILD ADJUSTMENTS */
md-card-title:not(:first-child), md-card-subtitle:not(:first-child) {
  margin-top: -4px; }

img[md-card-image]:first-child {
  margin-top: -24px; }

md-card-content:first-child {
  margin: 0;
  padding-top: 0; }

md-card-content > *:first-child {
  margin-top: 0; }

.md-card > img[md-card-xl-image]:first-child {
  margin-top: -8px; }

.md-card > img[md-card-xl-image]:last-child {
  margin-bottom: -8px; }

.md-card > *:last-child, md-card-content > *:last-child {
  margin-bottom: 0; }

.md-card > md-card-actions:last-child {
  margin-bottom: -16px;
  padding-bottom: 0; }

md-card-actions [md-button]:first-child,
md-card-actions [md-raised-button]:first-child {
  margin: 0; }

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
